<footer id="footer">
  ﻿		   <div class="container">
  <div class="row">
    <div class="col-md-4">
      <!--<div class="footer-tooltip">Solar Power Company
             <div class="footer-tooltip-arrow"></div>
           </div>-->
      <div class="footer-about clearfix">
        <h4 style="color: #d39e00;">Présentation</h4>
        <div class="titleline-footer"></div>
        <p><b>Solar Power Company</b> est une entreprise 100% Tunisienne spécialisé dans le photovoltaïque fondé en 2013 .</p>
        <ul style="padding-left:13px;">
          <li><i class="fa fa fa-phone fa-footer"></i>&nbsp;&nbsp;Agents commerciaux :<br>&nbsp; &nbsp;&nbsp; &nbsp; (+216) 92 030 304 <br>&nbsp; &nbsp;&nbsp; &nbsp; (+216) 98 688 647 <br>&nbsp; &nbsp;&nbsp; &nbsp; (+216 )92 776 025  <br> &nbsp; &nbsp;&nbsp; &nbsp; (+216 )92 776 029  <br>&nbsp; &nbsp;&nbsp; &nbsp;  +(216) 95 972 573</li>
          <li><i class="fa fa fa-phone fa-footer"></i>&nbsp;&nbsp; Bureau :(+216) 71 904 400 </li>


          <li><i class="fa fa fa-fax fa-footer"></i>&nbsp;&nbsp; Fax : (+216) 71 901 189</li>
          <li><i class="fa fa fa-envelope fa-footer "></i>&nbsp;&nbsp; Mail :info@solarpc.com.tn</li>
          <li><i class="fa fa-clock-o fa-footer"></i>&nbsp;&nbsp; Lun. - Ven. 08:00 - 17:00</li>

        </ul>

      </div></div>
    <!-- end .col-md-3 -->

    <div class="col-md-4">
      <h4 style="color: #d39e00;">Produits</h4>

      <div class="titleline-footer"></div>
      <!-- end .titleline-footer -->
      <ul class="footer-list">
        <li><a  (click)="produits('modulesolaire')">Module Solaire Photovoltaique </a></li>
        <li><a  (click)="produits('onduleurs')">Onduleurs Solaire </a></li>
        <li><a  (click)="produits('regulateur')">Régulateurs de charge</a></li>
        <li><a  (click)="produits('pompes')">Pompes Solaires</a></li>
        <li><a  (click)="produits('lampes')">Lampes Solaires</a></li>
        <li><a  (click)="produits('batteries')">Batteries Solaires </a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <h4 style="color: #d39e00;">Téléchargements</h4>
      <div class="titleline-footer"></div>

      <ul class="footer-list">
        <li><a href="fiche_technique_photovoltaique/brochure.pdf" target="_blanc">Notre Brochure</a></li>
        <li><a href="fiche_technique_photovoltaique/Formulaire-STEG-1-KWC.pdf" target="_blanc">Formulaire STEG 1 KWC</a></li>
        <li><a href="fiche_technique_photovoltaique/Formulaire-STEG-2-KWC.pdf" target="_blanc">Formulaire STEG 2 KWC</a></li>
        <li><a href="fiche_technique_photovoltaique/Formulaire-STEG-3-KWC.pdf" target="_blanc">Formulaire STEG 3 KWC</a></li>
        <li><a href="fiche_technique_photovoltaique/Formulaire-STEG-4-KWC.pdf" target="_blanc">Formulaire STEG 4 KWC</a></li>
        <li><a href="fiche_technique_photovoltaique/Contrat-avec-credit-STEG.pdf" target="_blanc">Contrat avec crédit</a></li>
        <li><a href="fiche_technique_photovoltaique/Contrat-sans-credit-STEG.pdf" target="_blanc">Contrat sans crédit</a></li>
        <li><a href="fiche_technique_photovoltaique/Pompage.pdf" target="_blanc">Formulaire Pompage</a></li>
        <li><a href="fiche_technique_photovoltaique/Photovoltaique.pdf" target="_blanc">Formulaire Eclairage Hors Réseau</a></li>
      </ul>


    </div>

  </div>
  <!-- end .row -->
</div>
  <div style="display:none;"> Solar Power Company lader en système photovoltaique en tunise. installation et reparation des panneaux solaire, onduleurs, batterie solaire, pompe solaire, lampes solaire.
    <br> site raccordé au réseau et site isolé, régulateur de charge, modules photovoltaique <b>made in tunisie </b></div>
</footer>
