
<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <a class="nav-link active" id="v-pills-Module-tab" data-toggle="pill" role="tab" aria-controls="v-pills-Module" aria-selected="true" (click)="produits('modulesolaire')">Module solaire photovoltaïque</a>
  <a class="nav-link " id="v-pills-Onduleurs-tab" data-toggle="pill"  role="tab" aria-controls="v-pills-Onduleurs" aria-selected="false" (click)="produits('onduleurs')">Onduleurs solaires</a>
  <a class="nav-link" id="v-pills-Régulateur-tab" data-toggle="pill" role="tab" aria-controls="v-pills-Régulateur" aria-selected="false" (click)="produits('regulateur')">Régulateur de charge</a>
  <a class="nav-link" id="v-pills-Pompes-tab" data-toggle="pill"  role="tab" aria-controls="v-pills-Pompes" aria-selected="false" (click)="produits('pompes')">Pompes Solaires</a>
  <a class="nav-link" id="v-pills-Lampes-tab" data-toggle="pill"  role="tab" aria-controls="v-pills-Lampes" aria-selected="false" (click)="produits('lampes')">Lampes Solaires</a>
  <a class="nav-link" id="v-pills-Batteries-tab" data-toggle="pill" role="tab" aria-controls="v-pills-Batteries" aria-selected="false" (click)="produits('batteries')">Batteries Solaires</a>
</div>


