<div class="container">
  <div class="row">
    <div class="col-md-3">
      <app-boutons></app-boutons>
    </div>
    <div class="col-sm-6 text-justify">

      <h3 class="section_title"> Batteries solaires</h3>
      <div class="titleline"></div>


      <p>
        Solar Power Company vous offrent une large gamme des batteries solaires.
        Une fois dimensionner votre parc de batteries, il vous faut déterminer quel type de batterie solaire acquérir, la tension du système, nombre de rangée de batteries à installer....

        Nous allons identifier les principaux critères qui définissent une batterie adaptée aux énergies renouvelables, et en particulier à l'énergie solaire.
      </p>

      <h4>Critères techniques : </h4>

      <p>Les batteries solaires subissent un grand nombre de cycles charge / décharge et leur état de charge évolue au fil de la journée et encore plus au cours des saisons : c'est souvent à la fin de l'hiver que les batteries sont le plus déchargées.</p>

      <p>Les batteries solaires doivent supporter un grand nombre de cycles et doivent supporter la décharge profonde :</p>

      <ul><li class="no-border">On installe généralement des batteries pouvant supporter plus de 300 cycles à 80 % de décharge.</li><li class="no-border">Une batterie solaire doit résister à une profondeur de décharge pouvant dépasser les 80 % et atteindre 100 % de décharge (mauvais ensoleillement, forte consommation électrique occasionnelle, tension de coupure des convertisseurs trop faible (10,5 V !)...).</li></ul>

      <p>Obtenir du courant électrique à partir de panneaux solaires reste cher et une batterie solaire optimale devrait stocker l'énergie électrique avec le moins de perte possible (bon rendement de charge). </p>

      <p>Une batterie déchargée doit accepter toute l'énergie en provenance des panneaux solaires afin de ne pas gaspiller l'énergie (chèrement) produite. L'acceptation de la charge d'une batterie solaire doit être bonne pour que les batteries se rechargent rapidement. </p>
      <p>Une fois stockée sous forme chimique, cette énergie électrique ne doit pas être perdue : <b>l'autodécharge de la batterie doit être la plus faible possible.</b></p>
      <p><b>==&gt; Une bonne acceptation de la charge et une faible auto décharge favorisent un état de charge élevé, ce qui a une influence directe sur la durée de vie des batteries.</b></p>
      <p>La durée de vie d'une batterie dépend beaucoup des paramètres de charge (tensions...) qui eux-mêmes varient avec la température des batteries : une batterie "idéale" sera peu sensible à de mauvais paramètres de charge (régulateur solaire pas adapté, mal réglé, pas de compensation en température...).</p>

      <div class="row">
        <div class="col-md-4">
          <a href="assets/pdf/EN-PS-TS-RS-002_0711.pdf" target="_blanc" class="button banner_button business">
            <img src="assets/image/EN-PS-TS-RS-002_0711.jpg" alt="solar word" class="responsive">          </a>

        </div>


        <div class="col-md-4">
          <a href="assets/pdf/FICHE-batterie-SOLAIRE-Assad.pdf" target="_blanc" class="button banner_button business">
            <img src="assets/image/FICHE-batterie-SOLAIRE-Assad.jpg" alt="solar word" class="responsive">          </a>

        </div>

        <div class="col-md-4">
          <a href="assets/pdf/OPzS_en.pdf" target="_blanc" class="button banner_button business">
            <img src="assets/image/OPzS_en.jpg" alt="solar word" class="responsive">          </a>

        </div>


        <div class="col-md-4">
          <a href="assets/pdf/OPzV_en.pdf" target="_blanc" class="button banner_button business">
            <img src="assets/image/OPzV_en.jpg" alt="solar word" class="responsive">          </a>

        </div>


        <div class="col-md-4">
          <a href="assets/pdf/power-bloc-OPzS_en.pdf" target="_blanc" class="button banner_button business">
            <img src="assets/image/power-bloc-OPzS_en.jpg" alt="solar word" class="responsive">          </a>
        </div>


        <div class="col-md-4">
          <a href="assets/pdf/power-bloc-OPzV_en.pdf" target="_blanc" class="button banner_button business">
            <img src="assets/image/power-bloc-OPzV_en.jpg" alt="solar word" class="responsive">          </a>
        </div>


      </div>

    </div>
  </div>
</div>


