<div class="container">
  <div class="row">
    <div class="col-md-3">
<app-boutons></app-boutons>
    </div>
    <div class="col-sm-6 text-justify">

      <h3 class="section_title">  MODULE SOLAIRE PHOTOVOLTAÏQUE</h3>
      <div class="titleline"></div>

/********
      ******************/
      <p>Un module solaire photovoltaïque est un générateur électrique de courant continu constitué d'un ensemble de cellules photovoltaïques reliées entre elles électriquement, qui sert de module de base pour les installations photovoltaïques et notamment les centrales solaires photovoltaïques.</p>
      <h4 class="sectitle" style="  margin-bottom: 15px;">Déscription d'un panneau photovoltaïque </h4>
      <p> Un panneau photovoltaïque est constitué d'une série de cellules photovoltaïques, formées dun matériau semi-conducteur en deux couches, l'une dopée positivement (P) et lautre négativement (N). C'est une jonction PN. Lorsqu'un électron est arraché, il se forme à la place un « trou », se comportant comme une charge positive.</p>
      <p> L'électron et le trou s'échappent de part et d'autre de cette jonction PN (les électrons vers N et les trous vers P), créant une différence de potentiel (ce que l'on mesure en volts). Une cellule photovoltaïque produit donc ainsi du courant électrique continu.<br><b>SPC</b> vous offrent une gamme de modules d'origine allemands qui ont généralement une large expérience dans le marché international :</p>
     <div class="row">
      <div class="col-md-4">
        <a href="assets/pdf/AE_M6-72_320W-340W-1.pdf" target="_blanc" class="button banner_button business">
          <img src="assets/image/AE_M6-72_320W-340W-1.jpg" alt="solar word" class="responsive">
        </a>

      </div>




      <div class="col-md-4">
        <a href="assets/pdf/AE-SOLAR_60_250-275.pdf" target="_blanc" class="button banner_button business">
          <img src="assets/image/AE-SOLAR_60_250-275.jpg" alt="solar word" class="responsive">
        </a>

      </div>

      <div class="col-md-4">
        <a href="assets/pdf/IFRISOL-HOMOLOGATION-06-02-2020.pdf" target="_blanc" class="button banner_button business">
          <img src="assets/image/IFRISOL-HOMOLOGATION-06-02-2020.jpg" alt="solar word" class="responsive">
        </a>

      </div>


      <div class="col-md-4">
        <a href="assets/pdf/Aurasol-solar-power-company.pdf" target="_blanc" class="button banner_button business">
          <img src="assets/image/Aurasol-solar-power-company.jpg" alt="solar word" class="responsive">
        </a>

      </div>


      <div class="col-md-4">
        <a href="assets/pdf/soluxtec-solar-power-company.pdf" target="_blanc" class="button banner_button business">
          <img src="assets/image/soluxtec-solar-power-company.jpg" alt="solar word" class="responsive">
        </a>

      </div>
     </div>

      /********
      ******************/
    </div>
  </div>
</div>



