<div class="container-sm" >
  <div class="row">


  <div class="col-md-12 col-sm-12">
    <h3 class="section_title">{{id}}</h3>
    <div class="titleline"></div>

    <div class="table-wrap">
      <table class="table">
        <thead class="thead-primary">
        <tr>
          <th>Titre</th>
          <th>Description</th>
          <th *ngIf="token!= null" >Modifier Image</th>
          <th>Image</th>
          <th *ngIf="token!= null" >Supprimer</th>
        </tr>
        </thead>
        <tbody>
        <tr class="alert" role="alert"  *ngFor="let projet of tousLesProjet">

          <td>
            <div>{{projet.titre}}</div>
          </td>
          <td>
            <div>
              <span>{{projet.description}} </span>
            </div>
          </td>
          <td *ngIf="token!= null" > <input type="file" (change)="onFileChanged($event)" *ngIf="token!= null">
            <input type="button" (click)="onUpload()" value="upload" *ngIf="token!= null">
          </td>

          <td>

           <!-- <input type="text" class="form-control" id="name" placeholder="image name" [(ngModel)]="imageName" name="name" />
            <input type="button" (click)="getImage()" value="Get Image">
              <div *ngIf=retrievedImage>
                <img [src]="retrievedImage">-->
            <div><img src="assets/image/projet.jpg" alt="solar word" class="responsive" > </div>
            <div *ngIf=retrievedImage><img [src]="retrievedImage"></div>
             <!-- </div>-->
          </td>

          <td>
            <button *ngIf="token!= null" type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="supprimerProjet(projet)">
              <span aria-hidden="true"><i class="fa fa-close"></i></span>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
</div>
