
h4 {
  font-size: 18px;
  color: #1f5c99;
}

.titleline {
  position: relative;
  max-width: 100%;
  border-top: 1px solid #feb41c !important;
  margin: 0 auto 15px 0;
}

p {
  margin: 0 0 10px;
}
p {
  margin: 0 0 10px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
user agent stylesheet
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
body {
  /* background-color: #ffffff; */
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  color: #666666;
  line-height: 1.6;
  color: black;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}

.section_title {
  color: #1f5c99;
  font-size: 20px;
}


/* Warning */
.btn-warning:hover, .btn-warning:focus {
  background-color: #ffce3a;
}
