<div class="container">
  <div class="row">
    <div class="col-md-3">
      <img src="assets/image/post_img_small.jpg" alt="" class="img-responsive frame" height="350px">
    </div>
    <div class="col-md-9 text-justify">


        <h3 class="section_title">  QU'EST-CE QU'UN SYSTÈME PHOTOVOLTAIQUE RACCORDÉ AU RÉSEAU ?</h3>
        <div class="titleline"></div>
        <div class="col-md-12">
          <p>Un système photovoltaïque raccordé au réseau est un système de production d'énergie électrique interconnecté à un réseau public de distribution d'électricité.<br> Il est composé de modules photovoltaïque reliée entre eux (en série ou en parallèle) et un onduleur (Convertisseur de courant continu en courant alternatif) a fin de produire de l'électricité destinés à l'alimentation  de bâtiments. </p> 					<h4> 1- Exigences d'installations :</h4> 			<ul class="default_list_disk"> 						<li> Etre le propriétaire du logement à équiper et avoir un abonnement basse tension STEG. </li> 						<li> Disposant d'une surface suffisante pouvant supporter les équipements. </li>  	<li> Ayant une consommation annuelle d'énergie électrique minimale conformément au tableau ci-dessous :</li> </ul>
        </div>
        <table class="table table-bordered table-striped">
          <thead>
          <tr>
            <th>Puissance kWc</th>
            <th>Consommation électrique minimale exigée (kWc/an)</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>1</td>
            <td>1800 </td>
          </tr>
          <tr>
            <td>2</td>
            <td>3600</td>
          </tr>
          <tr>
            <td>3</td>
            <td colspan="2">5400</td>
          </tr>
          <tr><td>4</td>
            <td colspan="2">7200</td>
          </tr>
          <tr><td>5 et plus</td>
            <td colspan="2">9000 et plus</td>
          </tr>
          </tbody>
        </table>

        <div class="col-md-12">
          <h4>2- Les avantages du photovoltaïque injecté au réseau (STEG):</h4>



          <p>L’énergie photovoltaïque est une énergie propre et non-polluante qui ne dégage pas de gaz à effet de serre et ne génère pas de déchets.
            <br>Il s’agit d’une source d’énergie inépuisable.
            <br>Il s’agit d’une source d’énergie électrique totalement silencieuse.
            <br>Le montage des installations photovoltaïques est simple et les installations sont adaptables aux besoins de chaque projet.
            <br>Les installations photovoltaïques sont en général de haute fiabilité, peu sujettes à l’usure, elles demandent peu d’entretien. </p>



          Avantages et mécanismes de financement : <br>
          <b>Paiement via crédit STEG </b> 						<ul class="default_list_disk"> 							<li>Une subvention du fond national pour la maitrise de l'énergie (F.N.M.E) Plafonné à 3000dt.</li> 							<li>Un crédit de 3500 dinars pour les installations de 1 kWc, et un crédit de 6500 dinars pour les installations de 2 a 5kwc  sur la facture STEG avec un taux préférentiel de TMM+1.2 %.</li> 						</ul><br> 						<b>Paiement au comptant</b>  						<ul class="default_list_disk"> 							<li>Chaque personne propriétaire du logement à équiper et avoir un abonnement basse tension pourra bénéficier d'une subvention du fond National de la maitrise de l'énergie (F.N.M.E) représentant 30% du coût de l'investissement,  plafonnée à 1850 dinars par kwc et 15000 dinars par installation.</li> </ul>
        </div>
        <div class="section_2 text_post_block">
          <h4 class="sectitle"> 3- Les composants d’un système photovoltaïque :</h4>
          <p>Un système photovoltaïque est composé principalement de :</p>
          <ul class="default_list_disk">
            <li> Modules photovoltaïques</li>
            <li>Structure d’intégration</li>
            <li>Onduleur</li>
            <li>Coffret électrique</li>
          </ul>
        </div>







    </div>
  </div>
</div>
