<div class="container">
  <div class="row">
    <div class="col-md-sm-lg-3 ">
      <img src="assets/image/post_img_small.jpg" alt="" class="img-responsive frame" height="350px">
    </div>

    <div class="col-md-9 text-justify">
      <h3 class="section_title">  Contactez nous</h3>
      <div class="titleline"></div>
      <div class="col-md-6 col-sm-6">
        <h5><b>Solar Power Company </b>dispose d'un groupe d'installateurs qui couvrent tout le territoire tunisien. <br>Pour nous contacter merci de : <br> Remplir le formuliaire ci-joint:.</h5>
<div>
  <form #contactForm="ngForm" id="commentForm" class="cmxform" method="post" action="submit-envoi.php" novalidate="novalidate">
    <fieldset>
    <div class="form-group">


      <div>
      <label for="nom">Nom</label>
      <input
        [(ngModel)]="nom"
        type="text"
        #nomInput="ngModel"
        required
        ngModel
        id="nom"
        name="nom"
        minlength="3"
        type="text"
        class="form-control"
        placeholder="nom"
        required=""
        aria-required="true"
      >
      <div
        *ngIf="nomInput.invalid && nomInput.dirty"
        class="alert alert-danger"
      >
        champs obligatoire et au moins 3 caractéres
      </div>
      </div>



      <div>
      <label for="email">Email</label>
      <input
        [(ngModel)]="email"
        type="email"
        #emailInput="ngModel"
        required
        email
        ngModel
        name="email"
        class="form-control"
        id="email"
        placeholder="name@example.com"
      >
      <div
        *ngIf="emailInput.invalid && emailInput.dirty"
        class="alert alert-danger"
      >
        L'email est obliogatoire et doit être correct
      </div>
      </div>


    <div>
    <label for="objet">Objet</label>
    <input
      [(ngModel)]="objet"
      type="text"
      #objetInput="ngModel"
      required
      ngModel
      id="objet"
      name="objet"
      minlength="2"
      type="text"
      class="form-control"
      placeholder="objet"
      required=""
      aria-required="true">
    </div>


      <div>
      <label for="message">Message</label>
      <textarea
        [(ngModel)]="message"
        type="text"
        #messageInput="ngModel"
        required
        ngModel
        class="form-control"
        name="message"
        id="message"
        rows="3"
        placeholder="message"
      >

      </textarea>
    </div>


    <input
      (click)=" ajoutContact(contactForm.value)"
      [disabled]="contactForm.invalid"
      class="submit btn btn-white"
      name="submit"
      type="submit"
      value="Envoyer"
    >
    </div>
    </fieldset>
  </form>
</div>

      </div>
    </div>
  </div>
</div>
