
h4 {
  font-size: 18px;
  color: #1f5c99;
}



h5 {
  font-size: 14px;
}



.cmxform fieldset label {
  width: 100%;
  display: block;
  line-height: 1.6;
  float: none;
  color: #feb41c;
}
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
user agent stylesheet
label {
  cursor: default;
}
form.cmxform {
  font-family: inherit;
  font-size: 14px;
  margin: 0 auto;
  /* margin-top: 30px; */
  position: relative;
}

form {
  display: block;
  margin-top: 0em;
}
body {
  background-color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  color: #666666;
  line-height: 1.6;
  color: black;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}


.cmxform .submit {
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  padding: 58px;
  outline: none;
  float: right;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-size: 14px;
  font-weight: bold !important;
  text-transform: uppercase;
  padding: 0 5px;
  margin: 5px 1px;
  line-height: 35px;
  text-shadow: 0px 1px 0px rgb(255 255 255 / 50%);
  width: 80px;
  margin-top: 30px;
  border-color: #dddddd!important;
  color: white;
  background-color: #feb41c;
  -webkit-box-shadow: 0px 2px 0px 0px #dddddd;
  -moz-box-shadow: 0px 2px 0px 0px #dddddd;
  -o-box-shadow: 0px 2px 0px 0px #dddddd;
  box-shadow: 0px 2px 0px 0px #dddddd;
  border-radius: 3px;
}
.cmxform input, .cmxform select, .cmxform textarea {
  width: 100%;
  padding: 5px 10px;
  display: block;
  font-size: 14px;
  background: #ffffff;
  border: 1px solid #1f5c99;
  margin-top: 0px;
  /* margin-bottom: 15px; */
  border-radius: 0px;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
