<div class="container">
  <div class="row">
    <div class="col-md-3">
      <img src="assets/image/post_img_small.jpg" alt="" class="img-responsive frame" height="350px">
    </div>
    <div class="col-md-9 text-justify">

      <h3 class="section_title">  Contactez nous</h3>
      <div class="titleline"></div>
      <div class="col-md-9">
        <h5><b>Solar Power Company </b>dispose d'un groupe d'installateurs qui couvrent tout le territoire tunisien. <br>Pour nous contacter merci de : <br> Remplir le formuliaire ci-joint:.</h5>

<div>
  <form id="commentForm" class="cmxform" method="post" action="submit-envoi.php" novalidate="novalidate">
    <fieldset>
    <div class="form-group">

      <label for="name">Nom</label>
      <input id="name" name="name" minlength="2" type="text" class="form-control" placeholder="Nom" required="" aria-required="true">

      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" placeholder="name@example.com">



    <label for="objet">Objet</label>
    <input id="objet" name="name" minlength="2" type="text" class="form-control" placeholder="Objet" required="" aria-required="true">

      <label for="Message">Message</label>
      <textarea class="form-control" id="Message" rows="3"></textarea>
    </div>

    <input class="submit btn btn-white" name="submit" type="submit" value="Envoyer">
    </fieldset>
  </form>
</div>

      </div>
    </div>
  </div>
</div>
