<div class="container">
  <div class="row">
    <div class="col-md-3">
      <app-boutons></app-boutons>
    </div>
    <div class="col-sm-6 text-justify">

      <h3 class="section_title">  ONDULEURS SOLAIRES</h3>
      <div class="titleline"></div>

      /********
      ******************/
<p>
  C`est un Équipement électronique et statique permettant la conversion du courant continu (produit par l`installation) en courant alternatif (utilisable par le réseau). Sa puissance s'exprime en voltampère.Les petits systèmes, généralement inférieurs à 5Kwc, utilisent généralement des onduleurs monophasés car une ligne suffit à absorber le  courant fourni par un système photovoltaïque. Les plus grands systèmes utilisent généralement des onduleurs triphasés où l'électricité fournie par le système photovoltaïque est alors partagée en trois parties, chacune alimentant l'une des trois phases.</p>      <h4 class="sectitle" style="  margin-bottom: 15px;">Déscription d'un panneau photovoltaïque </h4>
      <h4>SMA : </h4>
      <p>SMA est le premier fabriquant des onduleurs dans le monde, Dans la division Solutions Bâtiment, SMA est leader mondial en termes de développement, de production et de commercialisation d'onduleurs photovoltaïques à haut rendement, destinés aux installations résidentielles et industrielles.</p>


      <div class="row">
        <div class="col-md-4">
          <a href="assets/pdf/AE_M6-72_320W-340W-1.pdf" target="_blanc" class="button banner_button business">
            <img src="assets/image/SB15-25-DFR1548-V12web.jpg" alt="solar word" class="responsive">          </a>

        </div>




        <div class="col-md-4">
          <a href="assets/pdf/AE-SOLAR_60_250-275.pdf" target="_blanc" class="button banner_button business">
            <img src="assets/image/SB2100TL-DFR1444-V10web.jpg" alt="solar word" class="responsive">          </a>

        </div>

        <div class="col-md-4">
          <a href="assets/pdf/IFRISOL-HOMOLOGATION-06-02-2020.pdf" target="_blanc" class="button banner_button business">
            <img src="assets/image/SB3000TLST-21-DFR1439W-spc.jpg" alt="solar word" class="responsive">          </a>

        </div>


        <div class="col-md-4">
          <a href="assets/pdf/Aurasol-solar-power-company.pdf" target="_blanc" class="button banner_button business">
            <img src="assets/image/SB3000TLST-21-DFR1439W-spc.jpg" alt="solar word" class="responsive">          </a>

        </div>


        <div class="col-md-4">
          <a href="assets/pdf/soluxtec-solar-power-company.pdf" target="_blanc" class="button banner_button business">
            <img src="assets/image/STP12000TL-DFR1433W-spc.jpg" alt="solar word" class="responsive">          </a>


          <div class="col-md-4">
            <a href="assets/pdf/soluxtec-solar-power-company.pdf" target="_blanc" class="button banner_button business">
              <img src="assets/image/STP17000TL-DFR1514-V10web-spc.jpg" alt="solar word" class="responsive">        </a>
        </div>
      </div>

      /********
      ******************/
    </div>
  </div>
</div>

