<div class="container">
  <div class="row">
    <div class="col-md-3">
      <app-boutons></app-boutons>
    </div>
    <div class="col-sm-6 text-justify">

      <h3 class="section_title">  Lampes solaires</h3>
      <div class="titleline"></div>


      <p>
        Solar Power Company vous offrent une large gamme des lampes solaire.      </p>

      <div class="row">
        <div class="col-md-4">
          <a href="assets/pdf/Elsi-led-lighting.pdf" target="_blanc" class="button banner_button business">
            <img src="assets/image/Elsi-led-lighting.jpg" alt="solar word" class="responsive">          </a>

        </div>


        <div class="col-md-4">
          <a href="assets/pdf/Phocos_datasheet_CL12_7-11W_e_web.pdf" target="_blanc" class="button banner_button business">
            <img src="assets/image/Phocos_datasheet_CL12_7-11W_e_web.jpg" alt="solar word" class="responsive">          </a>

        </div>

        <div class="col-md-4">
          <a href="assets/pdf/Phocos_datasheet_CL12-15W_e_web_0.pdf" target="_blanc" class="button banner_button business">
            <img src="assets/image/Phocos_datasheet_CL12-15W_e_web_0.jpg" alt="solar word" class="responsive">          </a>

        </div>


        <div class="col-md-4">
          <a href="assets/pdf/phocos_datasheet_CLD12_5-15W_e.pdf" target="_blanc" class="button banner_button business">
            <img src="assets/image/phocos_datasheet_CLD12_5-15W_e.jpg" alt="solar word" class="responsive">          </a>

        </div>


        <div class="col-md-4">
          <a href="assets/pdf/phocos_datasheet_SL-LED-3-W_e_web.pdf" target="_blanc" class="button banner_button business">
            <img src="assets/image/phocos_datasheet_SL-LED-3-W_e_web.jpg" alt="solar word" class="responsive">          </a>
        </div>


        <div class="col-md-4">
        <a href="assets/pdf/phocos_datasheet_SL-LED-8-W_e_web_0.pdf" target="_blanc" class="button banner_button business">
          <img src="assets/image/phocos_datasheet_SL-LED-8-W_e_web_0.jpg" alt="solar word" class="responsive">          </a>
      </div>



        <div class="col-md-4">
          <a href="assets/pdf/Steca_LED_specification_FR.pdf" target="_blanc" class="button banner_button business">
            <img src="assets/image/Steca_LED_specification_FR.jpg" alt="solar word" class="responsive">          </a>
        </div>



        <div class="col-md-4">
          <a href="assets/pdf/Steca_Solsum_ESL_specification_FR.pdf" target="_blanc" class="button banner_button business">
            <img src="assets/image/Steca_Solsum_ESL_specification_FR.jpg" alt="solar word" class="responsive">          </a>
        </div>

      </div>

    </div>
  </div>
</div>


