<div class="container">
  <div class="row">
    <div class="col-md-3">
      <app-boutons></app-boutons>
    </div>
    <div class="col-sm-6 text-justify">

      <h3 class="section_title">  Pompes solaire</h3>
      <div class="titleline"></div>


      <p>
        Solar Power Company vous offrent une large gamme des pompes solaire d'origine européen.
      </p>

      <div class="row">
        <div class="col-md-4">
          <a href="assets/pdf/lorentz_ps_c_general_fr.pdf" target="_blanc" class="button banner_button business">
            <img src="assets/image/lorentz_ps_c_general_fr.jpg" alt="solar word" class="responsive">          </a>

        </div>


        <div class="col-md-4">
          <a href="assets/pdf/lorentz_ps_hr_general_fr.pdf" target="_blanc" class="button banner_button business">
            <img src="assets/image/lorentz_ps_hr_general_fr.jpg" alt="solar word" class="responsive">          </a>

        </div>

        <div class="col-md-4">
          <a href="assets/pdf/lorentz_psk2_submersible_fr.pdf" target="_blanc" class="button banner_button business">
            <img src="assets/image/lorentz_psk2_submersible_fr.jpg" alt="solar word" class="responsive">          </a>

        </div>


        <div class="col-md-4">
          <a href="assets/pdf/SQ2012.pdf" target="_blanc" class="button banner_button business">
            <img src="assets/image/SQ2012.jpg" alt="solar word" class="responsive">          </a>

        </div>


        <div class="col-md-4">
          <a href="assets/pdf/SQESYSTEM2012.pdf" target="_blanc" class="button banner_button business">
            <img src="assets/image/SQESYSTEM2012.jpg" alt="solar word" class="responsive">          </a>
        </div>

      </div>

    </div>
  </div>
</div>


