<div class="container">
  <div class="row">
    <div class="col-md-3">
      <app-boutons></app-boutons>
    </div>
    <div class="col-sm-6 text-justify">

      <h3 class="section_title">  Régulateur de charge</h3>
      <div class="titleline"></div>

      /********
      ******************/
      <p>
        Solar Power Company vous offrent une large gamme des régulateurs de charge dorigine européen.
        Un régulateur de charge solaire est indispensable pour préserver vos batteries en régulant charge et décharge, Utilisé pour les sites isolés (non reliés au réseau électrique), le régulateur se connecte entre vos panneaux solaires et vos batteries.
        Le régulateur solaire protège vos batteries contre les risques de surcharge et les décharges au-dessous du seuil minimum (décharge profonde).</p>

      <div class="row">
        <div class="col-md-4">
          <a href="assets/pdf/phocos_datasheet_CA_Series_e_web.pdf" target="_blanc" class="button banner_button business">
            <img src="assets/image/phocos_datasheet_CA_Series_e_web.jpg" alt="solar word" class="responsive">          </a>

        </div>




        <div class="col-md-4">
          <a href="assets/pdf/phocos_datasheet_CIS_e_web.pdf" target="_blanc" class="button banner_button business">
            <img src="assets/image/phocos_datasheet_CIS_e_web.jpg" alt="solar word" class="responsive">          </a>

        </div>

        <div class="col-md-4">
          <a href="assets/pdf/phocos_datasheet_CX48-Serie_e_web_0.pdf" target="_blanc" class="button banner_button business">
            <img src="assets/image/phocos_datasheet_CX48-Serie_e_web_0.jpg" alt="solar word" class="responsive">          </a>

        </div>


        <div class="col-md-4">
          <a href="assets/pdf/post_img_small.pdf" target="_blanc" class="button banner_button business">
            <img src="assets/image/post_img_small.jpg" alt="solar word" class="responsive">          </a>

        </div>


        <div class="col-md-4">
          <a href="assets/pdf/STP12000TL-DFR1433W-spc.pdf" target="_blanc" class="button banner_button business">
            <img src="assets/image/STP12000TL-DFR1433W-spc.jpg" alt="solar word" class="responsive">          </a>
        </div>

        <div class="col-md-4">
          <a href="assets/pdf/STP17000TL-DFR1514-V10web-spc.pdf" target="_blanc" class="button banner_button business">
            <img src="assets/image/STP17000TL-DFR1514-V10web-spc.jpg" alt="solar word" class="responsive">        </a>
        </div>

      </div>

      /********
      ******************/
    </div>
  </div>
</div>


