

<div class="row justify-content-center">
  <div class="col-md-7 col-lg-5">
    <div class="login-wrap p-4 p-md-5">
      <div class="d-flex">
        <div class="w-100">
          <h3 class="mb-4">Sign In</h3>
        </div>
      </div>
      <form  #loginForm="ngForm" class="login-form"  >
        <div class="form-group">
          <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-user"></span></div>
          <input
            [(ngModel)]="login"
            type="text"
            #loginInput="ngModel"
            required
            ngModel
            id="login"
            name="login"
            type="text"
            class="form-control"
            placeholder="Login"
            required=""
            aria-required="true"
            >
        </div>
        <div class="form-group">
          <div class="icon d-flex align-items-center justify-content-center"><span class="fa fa-lock"></span></div>
          <input
            [(ngModel)]="motdepasse"
            type="password"
            #motdepasseInput="ngModel"
            required
            ngModel
            id="motdepasse"
            name="motdepasse"
            type="text"
            class="form-control"
            placeholder="Mot de passe"
            required=""
            aria-required="true">
        </div>
        <div class="form-group d-flex align-items-center">
          <div class="w-100">
          </div>
          <div class="w-100 d-flex justify-content-end">
            <button
              (click)=" connecter(loginForm.value)"
              [disabled]="loginForm.invalid"
              type="submit"
              class="btn btn-primary rounded submit">Login</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

