<div class="container-sm">

  <div class="jumbotron text-center "> </div>



  <div class="col-md-12 text-justify">
    <div class="titlespcone">
      <h1 class="section_title" style="  float: left;"> <strong>Solar Power Company</strong></h1>
      <a href="presentation.php" class="blue_title">Présentation </a>
    </div>
    <p>	      </p><p>
    Solar Power Company est une entreprise 100% Tunisienne fondée en 2013 spécialisée dans la vente, l`étude et l`installation des panneaux photovoltaïque (PV). Nous mettons à votre disposition un groupe d`installateurs qui couvrent tout le territoire tunisien afin de vous accompagner et de vous conseiller dans vos installations.</p>        <p></p>

  </div>




  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 20rem;">
        <img
          src="assets/image/energie-renouvelable.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text text-justify">
            La technologie photovoltaïque est intéressante du point de vue économique, avec notre simulateur, estimez rapidement votre revenu solaire.
          </p>
        </div>
      </div>
    </div>



    <div class="col-sm">
      <div class="card" style="width: 20rem;">
        <img
          src="assets/image/avantage-photovoltaique.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text text-justify">
            L'énergie photovoltaïque prend le leadership des énergies renouvelables avec un coût d'installation des panneaux solaires fortement en baisse au cours des dix dernières années.
          </p>
        </div>
      </div>
    </div>




    <div class="col-sm">
      <div class="card" style="width: 20rem;">
        <img
          src="assets/image/Steg-tunisie-photovoltaique.jpg"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <p class="card-text text-justify">
            L' état accorde une subvention plafonnée a 3000 DT pour les installations domestiques et 5000 DT pour les installations commerciales avec facilité de paiement sur 7 ans..
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
